*{
    padding: 0;
    margin: 0;
}

.box{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 100px auto;

}
@media only screen and (min-with: 480px){
    .box{
        height: 250px;
        width: 250px;
        background-color: blue;
    }
}
@media only screen and(min-width:768px){
    .box{
        height: 300px;
        width: 300px;
        background-color: orange;
    }
}