h1 {
    color: aquamarine;
}
p {
    background-color: azure;font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
}
body {
    background-color:antiquewhite;
}